#blossom-container {
  background-color: transparent;
  position: relative;
  /* width: calc(100% - 40px);
  height: calc(100% - 40px); */
}

.petal {
  background: url(http://talktofill.surge.sh/cherry-blossom.png) no-repeat;
}
.petal.petal-style1 {
  width: 45px;
  height: 20px;
  background-position: -31px 0;
}
.petal.petal-style2 {
  width: 42px;
  height: 22px;
  background-position: 0 -23px;
}
.petal.petal-style3 {
  width: 37px;
  height: 24px;
  background-position: 0 -50px;
}
.petal.petal-style4 {
  width: 26px;
  height: 34px;
  background-position: -49px -35px;
}

body {
  overflow-x: hidden;
}
